body {
    background: rgb(34, 34, 34);
}

#account-number {
}

#window {
    margin-top: 50px;
    background-color: #000;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}

.swapbox_select {
    width: 50%;
    float: left;
}
.flip_switch{
    margin:auto;
    display:block;
    border: none;
    width:30px;
    height: 10;
    padding:0px;
    outline: none;
}
.flip_switch_image{
    width:100%;
    object-fit: cover;
}

.search_bars{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 34px;
    outline: none;
    width: 100%;
    text-align: right;
    padding: 0px;
}
.price{
    text-align: right;
}

.balance{
    color: rgb(165, 165, 165);
    font-size: 12px;
    padding: 10px;
    padding-left: 0px;
    margin-bottom: 0px;
}

.search_input {
    text-align: center;
    padding: 16px;
    width: fill;
}

.swapbox {
    overflow: auto;
    margin: 10px 0;
    padding: 20px;
    background-color: #2f2f2f;
    border-radius: 20px;
    border: 1px solid #565656;
}
.token_select {
    padding: 5px 0;
}
.token_select:hover {
    background-color: #464646;
    cursor: pointer;
}
.token_list_img,
.token_image {
    width: 45px;
}
.eth_image {
    width: 30px;
}
.modal-body {
    height: 600px;
    overflow-y: scroll;
}
.token_row {
    padding: 5px 10px;
}
.token_row:hover {
    background-color: #e4e4e4;
    cursor: pointer;
}



input[type=number] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
